h2 {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}

header > h2 {
	margin-top: 0px;
	padding-top: 0px;
	border: none;
	color: white;
}

h1 {
	color: white;
}

h4 {
	color: gray;
	font-style: italic;
}

.row {
	margin-top: 30px;
}

body {
	background-color: salmon;
}

section {
	background-color: white;
}

.col-sm-3 {
	background-color: transparent;
	color: white;
}

a {
	margin-left: 0;
	padding-left: 0;
	color: white;
}

h3 {
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}

a:hover {
	text-decoration: none;
	color: black;
}

.right-align {
	text-align: right;
}